#dropdown1{
  top: 64px !important  ;
}

#dropdown2{
  top: 64px !important  ;
}

#dropdown3{
  top: 64px !important  ;
}


th{
	text-align: center;
}

a{
	color: #1b5e20;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.msg {
  width:100%;
  border: 1px solid;
  padding:10px;
  margin: 20px;
  color: grey;
}
.msg-error {
  // rouge
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
.msg-alert {
  //orange
   border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}

.msg-info{
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}